APScheduler==3.6.3
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
DateTime==4.3
decorator==4.4.2
Deprecated==1.2.10
Flask==1.1.2
Flask-APScheduler==1.11.0
gunicorn==20.0.4
idna==2.10
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.7.0
MarkupSafe==1.1.1
numpy==1.19.2
pandas==1.1.2
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.8
PyGithub==1.53
Pygments==2.7.2
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
pywin32==300
pyzmq==20.0.0
requests==2.24.0
six==1.15.0
tornado==6.1
traitlets==5.0.5
tzlocal==2.1
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.2.0
