<footer class="border-top pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
        <div class="col text-center">
            <p style="font-size: 30px;"> 
            <i class="fab fa-twitter"></i>
            </p>
        </div>
        </div>
        <div class="row">
        <div class="col text-center">
            <p style="font-size: 12px; font-style: italic;"> 
                Made with <i class="fas fa-heart"></i>
                by Carlos Lira
            </p>
        </div>
        </div>
    </div>
</footer>