h1 {
  font-family: 'Roboto';
  color: rgb(40, 50, 78);
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto';
  color: rgb(40, 50, 78);
  font-size: 20px;
  font-weight: bolder;
}

h3 {
  font-family: 'Roboto';
  color: rgb(40, 50, 78);
  font-size: 16px;
  font-weight: bolder;
}

p {
  font-family: 'Roboto';
  color: rgb(40, 50, 78);
  font-size: 16px;
}
  
p.title {
  font-family: 'Roboto';
  color: rgb(40, 50, 78);
  font-size: 26px;
}

li {
  font-family: 'Roboto';
  color: rgb(40, 50, 78);
  font-size: 16px;
}
.pagination>li.active>a {
  background-color: rgb(40, 50, 78) !important;
}
.page-item.active .page-link {
  border-color:  rgb(40, 50, 78);
}
.page-link {
  color: rgb(40, 50, 78);
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

/* svg {
  shape-rendering: optimizeSpeed
} */
