{% macro dailyInfo(daily_data) %}
<div class="row">
  <div class="col-sm text-center">
    <td><img src="https://www.countryflags.io/{{ daily_data['iso'] }}/flat/64.png" onerror="this.style.display='none'">
    <p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 28px; color: rgb(40, 50, 78);"><strong>
        {{ daily_data['country'] }} 
    </strong></span></p>
  </div>
</div>
<div class="row">
  {% for metric in ['confirmed', 'recovered', 'deaths'] %}
  <div class="col-sm text-center">
    <p class="title", style="font-size: 18px;"> 
      <strong> {{ metric.capitalize() }} </strong> </br>
      <span style="font-size: 16px;">
        {{ daily_data[metric] }} </br>
      </span>
      <span style="font-size: 14px;">
        <i class="fas fa-angle-up"></i> {{ daily_data['daily_'+metric] }}
      </span>
    </p>
  </div>  
  {% endfor %}
</div>
<p><span style="font-size: 10px; text-align:end ; font-style: italic;"> 
  Last Update: 21/9/20 6:00 GTM
</span></p>
{% endmacro %}
