{% extends 'index.html' %}
{% block content %}

</br>
<h2> What we know </h2>
<p> 
    Studies show that COVID-19 vaccines are effective at keeping you
    from getting COVID-19. Experts also think that getting a COVID-19
    vaccine may help keep you from getting seriously ill even if you do
    get COVID-19. 
</br> </br>
    COVID-19 vaccines teach our immune systems how to recognize and fight the
    virus that causes COVID-19. It typically takes a few weeks after vaccination 
    for the body to build protection (immunity) against the virus that causes COVID-19. 
    That means it is possible a person could still get COVID-19 just after vaccination. 
    This is because the vaccine has not had enough time to provide protection.
</p>
<h2> What we do not know </h2>
<p>
    Although COVID-19 vaccines are effective at keeping you from getting sick,
    scientists are still learning how well vaccines prevent you from spreading 
    the virus that causes COVID-19 to others, even if you do not get sick.
</br></br>
If you are vaccinated against COVID-19, you may still be exposed to the virus that causes COVID-19. 
After exposure, people can be infected with or “carry” the virus that causes COVID-19 but 
not feel sick or have any symptoms. Experts call this “asymptomatic infection.”
</p>
<h2>
    COVID-19 vaccines are safe
</h2>
<p>
    Millions of people in the United States have received COVID-19 vaccines, and these vaccines have
    undergone the most intensive safety monitoring in U.S. history. This monitoring includes using both
    established and new safety monitoring systems to make sure that COVID-19 vaccines are safe. 
</p>

<h2> Frequently Asked Questions about Vaccination </h2>
<div id="accordion">
  <div class="card" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
    <div class="card-header">
      <h3>
        Wich lasts longer, immunity after getting COVID-19 or protection from 
        COVID-19 vaccines?
      </h3>
    </div>
    <div id="collapseOne" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <p>
          The protection someone gains from having an infection (called “natural immunity”) varies depending on the disease, and it varies from person to person. Because this virus is new, we don’t know how long natural immunity might last. Current evidence suggests that getting the virus again (reinfection) is uncommon in the 90 days after the first infection with the virus that causes COVID-19.
        </br> </br>
          We won’t know how long immunity lasts after vaccination until we have more data on how well COVID-19 vaccines work in real-world conditions.
        </br> </br>
          Experts are working to learn more about both natural immunity and vaccine-induced immunity. CDC will keep the public informed as new evidence becomes available.
        </p>
      </div>
    </div>
  </div>
  
  <div class="card" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
    <div class="card-header">
      <h3>
        What percentage of the population needs to get vaccinated to have herd immunity 
        to COVID-19?
      </h3>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <p>
          Experts do not yet know what percentage of people would need to get vaccinated to
          achieve herd immunity to COVID-19. Herd immunity means that enough people in a community
          are protected from getting a disease because they’ve already had the disease or they’ve
          been vaccinated. Herd immunity makes it hard for the disease to spread from person to person,
          and it even protects those who cannot be vaccinated, like newborns. 
          The percentage of people who need to have protection in order to achieve herd immunity varies by disease. 
          CDC and other experts are studying herd immunity and will provide more information as it is available.
        </p>
      </div>
    </div>
  </div>
  
  <div class="card" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
    <div class="card-header">
      <h3>
        Do I need to wear a mask and avoid close contact with others if I have gottten 2 doses of the vaccine?
      </h3>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <p>
          Yes. Not enough information is currently available to say if or when CDC will stop recommending that people wear masks and avoid close contact with others to help prevent the spread of the virus that causes COVID-19. 
        </br> </br>
        Experts need to understand more about the protection that COVID-19 vaccines provide in real-world conditions before making that decision. Other factors, including how many people get vaccinated and how the virus is spreading in communities, will also affect this decision. We also don’t yet know whether getting a COVID-19 vaccine will prevent you from spreading the virus that causes COVID-19 to other people, even if you don’t get sick yourself. CDC will continue to update this page as we learn more.
        </br> </br>
        While experts learn more about the protection that COVID-19 vaccines provide under real-life conditions, it will be important for everyone to continue using all the tools available to help stop this pandemic.
        To protect yourself and others, follow these recommendations:
        <ul>
          <li> Wear a mask over your nose and mouth </li>
          <li> Stay at least 6 feet away from others </li>
          <li> Avoid crowds </li>
          <li> Avoid poorly ventilated spaces </li>
          <li> Wash your hands often </li>
      </ul>
      </p>
      </div>
    </div>
  </div>
</div>

</br>
<h2> Source </h2>
<p> 
    The About vaccines information comes from Centers for Disease Control and Prevention 
    <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html"> Coronavirus Disease 2019 </a>
    page. If you want to know more about COVID-19 we highly recommend you visit his site.
</p>
</br>
{% endblock %}  

