{% extends 'index.html' %}
{% block content %}

</br>
<h2> Data source </h2>
<p> 
    The data comes from <strong>Johns Hopkins University</strong> and it's 
    updated once a day at about 00:15:00 GMT.
    For more information please refer to his 
    <a href="https://github.com/CSSEGISandData/COVID-19"> github repository</a>.
</p>
<h2> What the charts tell us </h2>
<p> 
    To understand the charts we highly recommend you to watch 3Blue1Brown video about exponential growth.
</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://www.youtube.com/embed/Kas0tIxDvrg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</br>
<h2> How to slow the spread </h2>
<p>
    The best strategy proved so far is social distancing. Here's another 3Blue1Brown video to better
    understand why that is the case. 
</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://www.youtube.com/embed/gxAaO2rsdIs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{% endblock %}  