{% extends 'index.html' %}
{% block content %}
</br>
<h1> COVID-19 </h1>
<p>
    COVID-19 is caused by a coronavirus called SARS-CoV-2. Older adults and people who have severe underlying medical conditions like heart or lung disease or diabetes seem to be at higher
    risk for developing more serious complications from COVID-19 illness.
</p>
<h2> Symptoms </h2>
<p> COVID-19 affects different people in different ways. 
    Infected people have had a wide range of symptoms reported from mild symptoms to severe illness. 
</p>
<ul>
    <li> Fever or chills </li>
    <li> Cough </li>
    <li> Shortness of breath or difficulty breathing </li>
    <li> Fatigue </li>
    <li> Muscle or body aches </li>
    <li> Headache </li>
    <li> New loss of taste or smell </li>
    <li> Sore throat </li>
    <li> Congestion or runny nose </li>
    <li> Nausea or vomiting </li>
    <li> Diarrhea </li>
</ul>
<p> Look for <strong>emergency warning signs</strong> for COVID-19. 
    If someone is showing any of these signs, seek emergency medical care immediately: 
</p>
<ul>
    <li> Trouble breathing </li>
    <li> Persistent pain or pressure in the chest</li>
    <li> New confusion </li>
    <li> Inability to wake or stay awake </li>
    <li> Bluish lips or face </li>
</ul>
<p>
    <strong>Call your medical provider </strong>
    for any symptoms that are severe or concerning to you.
</p>

<h2> Source </h2>
<p> 
    The About COVID-19 information comes from Centers for Disease Control and Prevention 
    <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html"> Coronavirus Disease 2019 </a>
    page. If you want to know more about COVID-19 we highly recommend you visit his site.
</p>
</br>
{% endblock %}