{% extends 'index.html' %}
{% from "macros/dailyInfo.html" import dailyInfo %}
{% block content %}

{{ dailyInfo(data['general']) }}

<figure class="highcharts-figure">
    <div id="confirmedChart" style="max-width: 800px; margin:0 auto;"></div>
    <div id="deathChart" style="max-width: 800px; margin:0 auto;"></div>
</figure>

<script src="{{ url_for('static', filename='js/confirmedChart.js') }}"> </script>
<script type="text/javascript">
    makeChart( {{ data | tojson | safe }} ) 
</script>

<script src="{{ url_for('static', filename='js/deathsChart.js') }}"> </script>
<script type="text/javascript">
    makeChart( {{ data | tojson | safe }} ) 
</script>

{% endblock %}